@page "/document/Main"
@using EducationSystem.BlazorServer.Pages.StudentPage.Helper
@using EducationSystem.BlazorServer.Pages.TeacherPage.Helper
@using EducationSystem.BlazorServer.StaticHelper
@using EducationSystem.BlazorServer.StaticHelpers

@inject NavigationManager Navigation

<TeacherNavMenu />
<head>
    <link rel="stylesheet" href="css/AdminStyle.css">
</head>
<body class="adminPages">
    <VertificationOfAuthorization _roleTypeId="2" />
    <div class="content" style="font-size:24px">
        <h1>Учебно-методический комплекс</h1>

        
        <h3>Нормативно-правовой блок</h3>

        <div class="link" @onclick="@( () => NextPage(6))">Образовательные программы</div> @*админ и учитель по классам и по предметам*@
        <div class="link" @onclick="@( () => NextPage(7))">ФГОС</div> @*админ 7*@

        <h3>Методический блок</h3>

        <div class="link" @onclick="@( () => NextPage(0))">Учебники</div> @*админ по классам и по предметам 0*@

        <div class="link" @onclick="@( () => NextPage(1))">Методические пособия</div> @*админ и учитель по классам и по предметам*@

        <div class="link" @onclick="@( () => NextPage(2))">Поурочное планирование</div> @*админ и учитель по классам и по предметам*@

        <h3>Контрольно-измерительные материалы</h3>

        <div class="link" @onclick="@( () => NextPage(3))">Задание для контрольных и проверочных работ</div> @*учитель по классам*@
        <div class="link" @onclick="@( () => NextPage(4))">Тестовые задания</div> @*учитель по классам*@
        <div class="link" @onclick="@( () => NextPage(5))">Подготовка к олимпиаде</div> @*учитель по классам*@

        <h3>Информационное обеспечение дисциплины</h3>

        <div class="link" @onclick="@( () => NextPage(8))">Аудио- и видеоматериалы</div> @*учитель по классам*@
        <div class="link" @onclick="@( () => NextPage(9))">Презентации</div> @*учитель по классам *@
        
    </div>
</body>

@code {
    private int type;

    private void NextPage(int type)
    {
        Navigation.NavigateTo($"/document/classSelect/{type}");
    }
}
